<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foodsters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
      
      
      .section {
        max-width: 1000px;
        margin: auto;
        background: rgb(183, 255, 183);
        padding: 50px;
      }
      .container {
        text-align: center;
        text-decoration: greenyellow;
        text-transform: capitalize;

      }
      </style>
  </head>
  <body>
      
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
           Foodsters
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
    
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Home</strong>
                </a>
                <a class="button is-light">
                  All recipes
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

  <section class="section">
    <div class="container">
      <h1 class=" title" >
        Welcome to Foodsters!
      </h1>
      <p> Select all the ingredients that you have at home:  </p>
      </dix>


      <div class="tabs is-medium is-centered is-primary">
        <ul>
          <li class="is-active"><a>    </a></li>
        </ul>
      </div>
 
      
<!--
      <div class="dropdown is-hoverable ">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span><div class="tabs is-small is-centered is-primary">
              <ul>
                <li class="is-active"><a>Grains</a></li>
              </ul>
            </div>
            <div> </span>
            <span class="icon is-large">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu1" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              {% for grain in grains_list %}
              <button class="button is-small is-success is-rounded is-centered is-inverted ">{{ grain }}</button>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
  -->
  
    <div class="tabs is-medium is-centered is-primary">
      <ul>
        <li class="is-active"><a>Grains</a></li>
      </ul>
    </div>
    <div>
   {% for grain in grains_list %}
   <button class="button is-small is-success is-rounded is-centered is-inverted ">{{ grain }}</button>
   {% endfor %}
   </div>

    <div class="tabs is-medium is-centered is-primary">
      <ul>
        <li class="is-active"><a>Vegetables</a></li>
      </ul>
    </div>
    <div>
   {% for vegetable in vegetables_list %}
   <button class="button is-small is-success is-rounded is-centered is-inverted ">{{ vegetable }}</button>
   {% endfor %}
   </div>
   




   <div class="tabs is-medium is-centered is-primary">
    <ul>
      <li class="is-active"><a>Fruits</a></li>
    </ul>
  </div>
  <div>
    {% for fruit in fruits_list %}
 <button class="button is-small is-success is-rounded is-centered is-inverted ">{{ fruit }}</button>
 {% endfor %}
 </div>

  

 <div class="tabs is-medium is-centered is-primary">
  <ul>
    <li class="is-active"><a>Dairy</a></li>
  </ul>
</div>
<div>
  {% for dairy in dairy_list %}
<button class="button is-small is-success is-rounded is-centered is-inverted "> {{ dairy }}</button>
{% endfor %}
</div>



<div class="tabs is-medium is-centered is-primary">
  <ul>
    <li class="is-active"><a>Meat, poultry, seafood</a></li>
  </ul>
</div>
<div>
  {% for meat in meat_list %}
<button class="button is-small is-success is-rounded is-centered is-inverted "> {{ meat }}</button>
{% endfor %}
</div>
    
<div class="tabs is-medium is-centered is-primary">
  <ul>
    <li class="is-active"><a>    </a></li>
  </ul>
</div>



    <button class="button is is-centered is-normal is-fullwidth">Search</button>

  </section>

  


  </body>
</html>